.wrap{ 
    display: flex;
    justify-content: center; 
    align-items:center;
    margin-top: 50px; 
    gap:40px;
}
.ura {
  position: absolute;
  top: 230px;
}
#Sname{
display: block; width: 100%; /* 追加 */
position: absolute; top: 250px;
text-align: center;
z-index: 17;
text-shadow:1px 0 0 #fff,0 1px 0 #fff,-1px 0 0 #fff,0 -1px 0 #fff;
}
#Ssetumei{
    display: block;
    width: 100%;
    position: absolute;
    top: 400px;
    z-index: 17;
    text-align: center;
    text-shadow:1px 0 0 #fff,0 1px 0 #fff,-1px 0 0 #fff,0 -1px 0 #fff;
}
.center{
     display: flex;
     justify-content: center;
}
#tojiru{
    position: absolute;
    top:650px;
}
#kounyuu{
    position: absolute;
    top:550px;
}