.center{
  display: flex;
  justify-content: center;
}
#kakusu5{
  display: none;
}
#kakusu10{
  display: none;
}
#kakusu20{
  display: none;
}
#kakusu30{
  display: none;
}
#kakusu31{
  display: none;
}
#kakusu40{
  display: none;
}
#kakusu50{
  display: none;
}
#kakusu60{
  display: none;
}
#kakusu61{
  display: none;
}
#kakusu70{
  display: none;
}
#kakusu80{
  display: none;
}
#kakusu90{
  display: none;
}
#kakusu91{
  display: none;
}
#kakusu100{
  display: none;
}
#kakusu110{
  display: none;
}
#kakusu121{
  display: none;
}
#kakusu130{
  display: none;
}
#kakusu140{
  display: none;
}
#kakusu151{
  display: none;
}
#kakusu160{
  display: none;
}
#kakusu170{
  display: none;
}
#kakusu181{
  display: none;
}
#kakusu190{
  display: none;
}
#kakusu200{
  display: none;
}
#kakusu211{
  display: none;
}
#kakusu220{
  display: none;
}
#kakusu230{
  display: none;
}
#kakusu241{
  display: none;
}
#kakusu250{
  display: none;
}
#kakusu260{
  display: none;
}
#kakusu271{
  display: none;
}
#kakusu280{
  display: none;
}
#kakusu290{
  display: none;
}
#kakusu301{
  display: none;
}
#kakusu331{
  display: none;
}
#kakusu361{
  display: none;
}
#kakusu391{
  display: none;
}
#kakusu421{
  display: none;
}
#kakusu451{
  display: none;
}
#kakusu481{
  display: none;
}
#kakusu511{
  display: none;
}
#kakusu541{
  display: none;
}
#kakusu571{
  display: none;
}
#kakusu601{
  display: none;
}
#kakusu631{
  display: none;
}
#kakusu661{
  display: none;
}
#kakusu691{
  display: none;
}
#kakusu721{
  display: none;
}
#kakusu751{
  display: none;
}
#kakusu781{
  display: none;
}
#kakusu811{
  display: none;
}
#kakusu841{
  display: none;
}
#kakusu871{
  display: none;
}
#kakusu901{
  display: none;
}
#kakusu931{
  display: none;
}
#kakusu961{
  display: none;
}
#kakusu991{
  display: none;
}
#kakusu1000{
  display: none;
}